* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 13px;
}

.main-div {
  display: flex;
  flex-direction: column;
}

.chat {
  margin-bottom: 10em;
}

.header {
  color: blueviolet;
  min-width: 40%;
}

.form-div {
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

#form-nickname {
  display: flex;
  flex-direction: row;
  bottom: 0;
  padding: 3px;
  max-width: 255px;
  min-width: 242px;
}

#nickname-input {
  border: 0;
  margin-right: 0.5%;
  padding: 10px;
  width: 80%;
}

#form-nickname-button {
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 40%;
}

.form-div-msg {
  background-color: #dfeeff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 70%;
  margin-top: 100px;
}

#form-message {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 3px;
}

.form-message-input {
  border: 0;
  margin-right: 0.5%;
  padding: 10px;
  min-width: 180%;
}

#form-message-button {
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 100%;
}

#messages {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child( odd ) {
  background: #eee;
}
